<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web File Explorer</title>
  </head>
  <body>
    <div>
      <h1>Welcome to Web File Explorer</h1>
    </div>
    <div>
      <a href="/loggin">Loggin Page</a>
    </div>
  </body>
</html>
